@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */ }